.title {
    color: dimgrey;
    padding-left: 5%;
}

.contents {
    margin: 50px;
}

#title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#author {
    padding: 20px;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}

.detail-image {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.aside-right {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 15% 0 5%;
}

.description {
    float: left;
    padding: 50px;
    width: 500px;
}
.description > p {
    height: 100px;
}

.like-number-number {
    text-align: center;
    font-size: 40px;
    color: #0b65a1;
    font-weight: bold;
}

.like-number {
    margin-bottom: 20px;
}

.image-details > ul {
    list-style: none;
    /*padding-top: 20px;*/
}

.image-details > ul > li {
    padding: 10px 0;
}

.aside-right hr {
    width: 100%;
}

p {
    clear:both;
    line-height: 30px;
    text-indent: 2em;
    padding: 0 3%;
}

.collection {
    display: flex;
    justify-content: center;
}

input[type="button"],input[type="submit"]  {
    margin-top: 20px;
    border: lightskyblue solid 1px;
    text-align: center;
    width: 100px;
    font-weight: bold;
    background-image: linear-gradient(lightskyblue, #085889);
    color: white;
    padding: 10px 0;
    border-radius: 6px;
}

input[type="button"]:active,input[type="submit"]:active {
    background-image: radial-gradient(#085889, #08356d);
}

hr {
    width: 90%;
    border-width:0;
    height: 1px;
    color:grey;
    background-color:lightgray;
}
.footer {
    clear: both;
}